<%- include("includes/head") %> <%- include("includes/navbar") %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Contados cadastrados</p>

      <%- include ("includes/messages") %> <% if(contatos.length > 0){ %>
      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Telefone</th>
            <% if(user) { %>
            <th>Ação</th>
            <% } %>
          </tr>
          <!-- loop -->
          <%- include ("includes/loop-contatos") %>
        </table>
      </div>
      <% } else { %>
      <p class="text-center">Nenhum contato cadastrado</p>
      <%}%>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include("includes/footer") %>
