<%- include("./includes/head") %> <%- include("./includes/navbar") %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça login ou crie sua conta:</p>

      <%- include("./includes/messages") %>

      <div class="row">
        <div class="col-lg">
          <h4>Crie sua conta abaixo</h4>
          <form method="POST" action="/login/register">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="form-group">
              <label>Seu email</label>
              <input type="email" class="form-control" name="email" />
            </div>
            <div class="form-group">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password" />
            </div>

            <button type="submit" class="btn btn-primary">Criar conta</button>
          </form>
        </div>

        <div class="col-lg">
          <h4>Acesse sua conta abaixo</h4>
          <form method="POST" action="/login/login">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="form-group">
              <label>Seu email</label>
              <input type="email" class="form-control" name="email" />
            </div>
            <div class="form-group">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password" />
            </div>

            <button type="submit" class="btn btn-outline-primary">Entrar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include("./includes/footer") %>
